body,ul,li,p,form,h1,h2,h3,h4,dl{margin:0;padding: 0;}
 li{list-style: none;}
 a{text-decoration: none;font-size: 12px;display: block;}
 input{float: left;border:0;}
 img{display: block;border:0;}
  span{display: block;} 
 body{margin-right: 30px;}
 /*========================*/
.detail_top{
	width: 1264px;
	height: 70px;
	background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.detail_top .detail_top_left{
	width: 507px;
	height: 70px;
	margin-left: 40px;
	position: relative;
	float:left;
}
.detail_top .detail_top_left .meiyijia{
	margin-left: 20px;
	float: left;
	width: 40px;
	height: 55px;
}
.detail_top .detail_top_left .meiyijia img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 15px;
	float: left;
	border: 0;
	vertical-align: middle;
}
.detail_top .detail_top_left .shop_name{
	width: 240px;
	height: 85px;
	margin-top: 15px;
	padding-left: 10px;
	float: left;
}
.detail_top .detail_top_left .shop_name .shop_name_mark{
	width: 240px;
	height: 20px;
	/*background: red !important;*/
}
.detail_top .detail_top_left .shop_name .shop_name_mark a{
	width: 42px;
	height: 20px;
	float: left;
     
    margin-right: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    white-space: nowrap;
    word-break: break-all;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
    display: inline-block;
    float: left;
}
.detail_top .detail_top_left .shop_name .shop_name_mark img{
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	float: left;
	margin-top: 3px;
}
.detail_top .detail_top_left .shop_name .shop_name_star{
	width: 240px;
	height: 16px;
	line-height: 16px;
	
}
.detail_top .detail_top_left .shop_name .shop_name_star i{
	display: inline-block;
	width: 12px;
	color: #f07;
    font-size: 10px;
    /*height: 16px;
    line-height: 16px;*/
   
    
}
.detail_top .detail_top_left .shop_name .shop_name_desc{
	width: 240px;
	height:19px;
	line-height: 9px;
}
.detail_top .detail_top_left .shop_name .shop_name_desc span{
	width: 51px;
	height: 14px;
	margin-right: 5px;
	color: #666;
	font-size: 12px;
	display: inline-block;
}
.detail_top .detail_top_left .shop_name .shop_name_desc span b{
	color: #ef2f23;
    font-weight: 400;
	display: inline;
    padding-left: 2px;
}
.detail_top .detail_top_left .detail_top_left_collect{
	background: url(1agxjw_ieygizjshe4wcyjvmmytambqgiyde_270x400.png) no-repeat -6px -55px ;
	width: 33px;
	height: 20px;
	padding:0 12px 0 22px;
	border:1px solid #ddd;
	/*padding: 0 12px 0 22px!important;*/
    /*background-position: 4px -48px;*/
    font-size: 12px;
    color: #666;
    /*height: 20px;*/
    line-height: 20px;
    margin-right: 10px;
    background-color: #fff; 
    display: inline-block;
    float: left;
	margin-top: 24px;
}
.detail_top .detail_top_left .detail_top_left_privatechat{
	width: 48px;
	height: 20px;
	padding:0 5px;
	border: 1px solid #DDDDDD;
	line-height: 20px;
	background-color: #fff;
	display: inline-block;
	float: left;
	margin-top: 24px;
	
}
.detail_top .detail_top_left .detail_top_left_privatechat div{
	width: 48px;
	height: 20px;
	background-size: 42px;
	background: url(../images/sp1ku_iezdizbwmi3temjugezdambqmmyde_1x1.gif) no-repeat 50%;

}
.detail_top .detail_top_left .detail_top_left_triangle{
	width: 30px;
	height: 46px;
	display: inline-block;
	position: absolute;
	right: 30px;
	top:33px;
	cursor: pointer;
	background: url(../images/7ycvj_kqyu4tkwkfbhmqlwgfjeg5sckzsew_7x4.png) no-repeat 100% 0;
	float: left;
}
.detail_top .detail_top_left .detail_top_left_line{
	width: 1px;
	height: 40px;
	margin: 15px 0 0 28px;
	float: right;
	background: #eee;
}
.detail_top .detail_top_right{
	width: 595px;
	height: 36px;
	margin-top:18px;
	padding-left: 24px;
	float: right;

}
.detail_top .detail_top_right .detail_top_right_search{
	width: 587px;
	height: 36px;

}
.detail_top .detail_top_right .detail_top_right_search .search_shop{
	width: 100px;
	height: 36px;
	margin-left: 5px;
	float: right;
    
    line-height: 36px;
    overflow: hidden;
    background-color: #f07;
    background-image: linear-gradient(90deg,#f25,#ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    	
}
.detail_top .detail_top_right .detail_top_right_search form{
	width: 480px;
	height: 34px;
	border:1px solid #f07;
	border-radius: 0 6px 6px 0;

}
.detail_top .detail_top_right .detail_top_right_search form input:first-child{
	width: 305px;
	height: 22px;
	padding:6px 0 6px 10px;
	display: block;
	overflow: hidden;
	line-height: 22px;
	color: #999;
	border:none;
	font-size: 12px;
	background-color: #fff;
	float: left;
	outline: none;

}
.detail_top .detail_top_right .detail_top_right_search form input:last-child{
	float: right;
    height: 33px;
    line-height: 34px;
    overflow: hidden;
    width: 100px;
    background-color: #f07;
    background-image: linear-gradient(to right,#f25,#ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.detail_banner{
	width: 1264px;
	height: 150px;
	/*overflow: hidden;*/
}
.detail_banner a{
	background: url(../images/170318_680f496bal4gkj4bd1gjac3ac0gad_1920x150.jpg) center no-repeat;
	height: 150px;
}

.detail_catalogue{
	width: 1264px;
	height: 50px;
	margin-top:-30px;
	
}
.detail_catalogue ul{
	width: 1264px;
	height: 30px;
	margin-bottom: 20px;
	background: rgba(0,0,0,.75);
	padding-left: 40px;
}
.detail_catalogue ul li{
	float: left;
	/*width: 133px;*/
	height: 16px;
	padding:7px 0;
	position: relative;
	font-size: 14px;
	z-index: 2;
}
.detail_catalogue ul li a{
	 
	height: 16px;
	padding:0 20px;
	border-right: 1px solid #5c5c5c;
	color: #fff;
	line-height: 16px;
}
.detail_catalogue ul li:nth-of-type(2) a{
	background: url(../images/16uz7_kqzfeqkbozbfqwkugfjeg5sckzsew_200x500.png) no-repeat 86px -191px;
	padding: 0 38px 0 25px;
	
}
.shop_detail{
	width: 1200px;
	margin:0 32px;
}
.shop_detail .shop_detail_{
	width: 1200px;
	height: 718px;
}
.shop_detail .shop_detail_ .shop_detail_photo{
	width: 400px;
	height: 669px;
	background: red;
	float: left;
}
.shop_detail .shop_detail_ .shop_detail_photo .displayframe{
	width: 400px;
	height: 600px;

}
.shop_detail .shop_detail_ .shop_detail_photo .thumbnail{
	width: 336px;
	height: 59px;
	padding:0 32px;
	margin-top:10px;
}
.shop_detail .shop_detail_ .shop_detail_photo .thumbnail .thumbnail_{
	width: 672px;
}
.shop_detail .shop_detail_ .shop_detail_photo .thumbnail .thumbnail_ a{
	width: 60px;
	height: 59px
	border-bottom:1px solid f46;
	display: inline-block;
	margin-right: 9px;
}
.shop_detail .shop_detail_ .shop_detail_photo .thumbnail .thumbnail_ a img{
	width: 60px;
	height: 60px;

}

















.shop_detail .shop_detail_left{
	width: 537px;
	height: 693px;
	padding: 0 90px 25px 31px;
	float: left;
}
.shop_detail .shop_detail_left h1{
	 
	height: 50px;
	margin-bottom: 15px;
	font-family: Microsoft YaHei,arial;
    color: #333;
    width: 100%;
    font-size: 24px;
    line-height: 25px;
}
.shop_detail .shop_detail_left .shop_detail_left_price{
	width: 540px;
	height: 146px;
    margin-left: -10px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    background: #f6f6f6;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown{
	width: 530px;
	height: 50px;
	padding-left: 10px;
	background: url(../images/upload_ie4tsyrxgy2tizdghezdambqgqyde_540x50.png) no-repeat;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_img{
	float: left;
	line-height: 50px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_img img{
	width: 26px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_img span{
	display: inline-block;
    line-height: 16px;
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_countdown{
	/*margin-left: 37px;*/
	line-height: 50px;
	height: 50px;
    float: right;
    margin-top: 0;
    color: #ffd200;
    font-size: 16px;
    text-align: center;
    float:right;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_countdown span{
	display: inline-block;
	font-size: 26px;
	font-weight: 700;
	line-height: 50px;
	margin:0 5px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown .shop_detail_left_price_txt{
	display: block;
    float: right;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
    line-height: 50px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under{
	width: 540px;
	height: 96px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_price{
	width: 530px;
	height: 32px;
	padding-left: 10px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_price dt{
	color: #999;
    position: absolute;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    float: left;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_price dd{
	float: left;
	padding-left: 60px;
	text-decoration:line-through;
	font-size: 14px;
    color: #999;
    height: 32px;
    line-height: 32px;
    margin:0;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69{
	width: 530px;
	height: 32px;
	padding-left: 10px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 dt{
	float: left;
	color: #ef2f23;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	display: block;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd1{
	float: left;
	/*padding-left: 60px;*/
	width: 262px;
	height: auto;
	/*font-size: 14px;*/
	line-height: 32px;
	margin-left: 10px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd1 span{
	color: #ff0000;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	float: left;
	line-height: 32px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd2{
	float: right;
	padding-left: 0;
	margin-right: 10px;
	line-height: 32px;
	color: #999;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd2 span{
	display: inline-block;
	font-size: 12px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd2 .countdown_under_69_dd2_span1 span{
	color: #333;
	display: inline-block;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .countdown_under_69 .countdown_under_69_dd2 .countdown_under_69_dd2_span2 span{
	color: #333;
	display: inline-block;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .discount{
	height: 32px;
	line-height: 32px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .discount span{
	display: inline-block;
	font-size: 12px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .discount span:nth-of-type(1){
    margin-left: 10px;
    color: #999;
    padding: 1px 0 0 1px
}
.shop_detail .shop_detail_left .shop_detail_left_price .countdown_under .discount span:nth-of-type(2){
	color: #666;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require{
	padding:0 0 15px 10px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require_first{
	margin-top:15px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .require .select{
	display: inline-block;
	color: #999;
	position: absolute;
	font-size: 12px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .require .service{
	background: url(../images/sp1ku_ieygin3dgeydoztbmiytambqmeyde_16x17.gif) no-repeat;
	width: 85px;
	height: 24px;
	margin-left: 60px;
	margin-bottom: 5px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .img{
	padding: 1px;
	margin-left: 60px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .require .img a{
	display: inline-block;
	border:1px solid #fff;
	width: 45px;
	height: 45px;
	margin:0 15px 5px 0;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .img a img{
	width: 100%;
	height: 100%;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .size{
	margin-left: 60px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .size a{
	width: 24px;
	height: 28px;
	padding:0 10px;
	border:2px solid #666;
	line-height: 28px;
	margin: -1px 9px 4px -1px;
	background: url(../images/eeee_ieygcmbsmuywcnzxmiytambqgiyde_11x11.png) no-repeat 100% 100%;
	color: #333;
	font-size: 12px;
	font-weight: 700px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .num{
	margin-left: 60px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .num div:nth-of-type(1){
	width: 95px;
	height: 25px;
	border:1px solid #ddd;
	float: left;
}
.shop_detail .shop_detail_left .shop_detail_left_price .require .num div:nth-of-type(1) a:nth-of-type(1){
	width: 24px;
	height: 25px;
	float: left;
	background: url(../images/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png) no-repeat -3px 2px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .require .num div:nth-of-type(1) a:nth-of-type(2){
	width: 24px;
	height: 25px;
	float: right;
	background: url(../images/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png) no-repeat -3px -78px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .require .num div:nth-of-type(1) input{
	width: 44px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border: 0;
    height: 24px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
    background: none;
    outline: none;
}
.shop_detail .shop_detail_left .shop_detail_left_price .purcharse{
	width: 477px;
	height: 50px;
	padding:5px 0 20px 0px;
	margin-left: 70px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .purcharse a{
	width: 200px;
	height: 50px;
	margin-right:10px;
	display: inline-block;
	/*line-height: 50px;*/
	text-align: center;
	float: left;
}
.shop_detail .shop_detail_left .shop_detail_left_price .purcharse a:nth-of-type(1){
	background: #ef2f23;
	font: 20px Microsoft YaHei;
    color: #fff;
    line-height: 50px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .purcharse a:nth-of-type(2){
	color: #333;
	border:1px solid #ddd;
	width: 198px;
	height: 48px;
	font: 20px Microsoft YaHei;
	background: #fff;
	line-height: 48px;

}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report{
	height: 26px;
	margin-left: 70px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report a:nth-child(-n+2){
	padding: 0 13px;
	width: 37px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 24px;
    color: #999;
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report a span{
	display: inline-block;
	float: left;
}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report a:nth-of-type(2) span:nth-of-type(1){
	background: url(../images/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png) no-repeat -9px -56px;
	width: 10px;
	height: 10px;
	margin-right:5px;
	display: inline-block;
}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report a:nth-of-type(2){
	width: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop_detail .shop_detail_left .shop_detail_left_price .share_report a:nth-child(3){
	line-height: 24px;
	height: 24px;
	color: #999;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end{
	margin-top:20px;
	overflow: hidden;
	margin-left: 10px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .detail_end_title{
	float: left;
	font-size: 12px;
	color: #999;

}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .overflow_{
	overflow: hidden;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .specialproduct ul{
	float: left;
	/*overflow: hidden;*/
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .specialproduct .commitment{
	width: 470px;
	height: 78px;
	float: right;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .specialproduct ul li{
	/*width: 76px;*/
	height: 30px;
	margin:-4px 20px 10px 0;
	float: left;
	z-index: 2;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .specialproduct ul li img{
	width: 24px;
	height: 24px;
	display: inline-block;
	float: left;

}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .z_index{
	/*overflow: hidden;*/
	height: 78px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .specialproduct ul li span{
	display: inline-block;
	color: #666;
	float: left;
	font-size: 12px;
	margin:4px 0 0 4px;
}
.shop_detail .shop_detail_left .shop_detail_left_price .detail_end .payment .payment_icon{
	width: 131px;
	height: 20px;
	background: url(../images/117603130_6a8jgjh899bh5jd6hcia3ehhj0113_221x704.png) no-repeat -10px -295px;
	float: left;
}